# File: .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
*.whl

# Unit test / coverage
.cache/
.coverage
.tox/
.nox/
.pytest_cache/

# Virtual environment
.venv/
venv/
ENV/
.env
.envrc

# VSCode & IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# AWS CDK & SAM
cdk.out/
.ssm-cache/
node_modules/
cdk.context.json
cdk.asset.*
*.template.json

# Mac-specific
.DS_Store
.AppleDouble
.LSOverride

# Python environment files
*.pyo

# Misc
*.zip
*.tar.gz
*.tgz
*.bak
*.tmp

# Ignore runtime lambda zip builds
/tmp/*
